/* src/component/Modal.css */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translate(0, -50px);
  opacity: 0;
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
  opacity: 1;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7); /* Tambahkan efek gelap di belakang modal */
  backdrop-filter: blur(10px); /* Tambahkan efek blur */
}

.modal-header {
  background-color: #f44336; /* Warna merah yang menarik untuk header */
  color: white; /* Teks putih di header */
  border-bottom: 2px solid #e91e63; /* Garis bawah berwarna merah muda */
}

.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-close {
  background-color: transparent;
  border: none;
}

.modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.btn-custom {
  background-color: #4caf50; /* Hijau menarik untuk tombol login */
  border: none;
}

.btn-custom:hover {
  background-color: #45a049;
}

.modal-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.btn-outline-secondary {
  border-color: #ccc;
  color: #333;
}

.btn-outline-secondary:hover {
  background-color: #ddd;
}
